<ion-view view-title="Ciudad Joven">
  <ion-content class="landing">
    <form ng-submit="doLogin()">
      <div class="row">
        <div class="col">
          <h2>Bienvenido</h2>
        </div>
      </div>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Ingresar</button>
        <button class="button button-block button-positive" type="submit">Registro</button>
      </label>
      <div class="faq">
        <a href="#/app/landing/faq"> Preguntas frecuentes <i class="icon ion-help-circled"></i></a>
      </div>
    </form>
  </ion-content>
</ion-view>
