.navbar-toggle {
  float: left;
  margin-right: 0px;
  margin-left: 15px;
}

.page-header {
  margin-top: 0px;
}

.list-group a.list-group-item {
  position: relative;
  padding: 20px 15px 18px 15px;
}

.list-group a.list-group-item span {
  position: absolute;
  right: 10px;
  top: 23px;
}

input[type="search"]::-webkit-search-cancel-button {
  right: 20px;
}

.form-group input.form-control {
  padding: 0px;
}

.form-group {
  position: relative;
}

.form-group span.delete {
  position: absolute;
  display: none;
  top: 12px;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}