body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar-toggle {
    float: left;
    margin-right: 0px;
    margin-left: 15px;
}

.page-header {
  margin-top: 0px;
}

.list-group a.list-group-item {
  position: relative;
  padding: 20px 15px 18px 15px;
}

.list-group a.list-group-item span {
  position: absolute;
  right: 10px;
  top: 23px;
}